
h1{
    font-family: 'Special Elite', cursive;
    font-size: 350%;
}

p{
    font-family: 'Cutive Mono', monospace;
    font-size: 150%;
}

h3{
    font-family: 'Special Elite', cursive;
}

button{
    font-family: 'Cutive Mono', monospace;
}

* {
    /* background-color: #262626; */
    color: #f0f0f0
}

a {
    text-decoration: none;
    color: #8aaefc;
    font-size: 120%;
}

body {
    background-image: url('./profile_images/five-nights.png');
    background-attachment: fixed;
}