* {
    color: #f0f0f0
}

h1{
    font-family: 'Special Elite', cursive;
    font-size: 350%;
}

p{
    font-family: 'Cutive Mono', monospace;
    font-size: 120%;
}

h3{
    font-family: 'Special Elite', cursive;
}

button{
    font-family: 'Cutive Mono', monospace;
}


a {
    color: #f0f0f0;
    font-weight: bold;
}

.socialIconDiv a i:hover{
    color: red;

}

.socialIconDiv a:hover{
    color: red;

}

.socialIconDiv a i{
    color: inherit;
    transition: color 0.2s;

}

/* .fa-github:before:hover{
    color: red;
    transition: color 0.2s;

} */

a:hover {
    text-decoration: none;
}

body {
    background-image: url('./profile_images/five-nights.png');
    background-attachment: fixed;
}